<h1>Comments:</h1>
  <% @post.comments.each do |comment| %>
    <div class="comment">
      <h3><%=comment.title %></h3>
      <p><%=comment.content %></p>
      <p><small>Added by <%= comment.user.username %></small></p>
</div>
  <% end %>
<br>
<h1>Comments new</h1>
<%= form_for(comment) do |f| %>
  
<fieldset class="form-group">
  <%= f.label :title %><br />
  <%= f.text_field :title, class:"form-control" %>
</fieldset>

<fieldset class="form-group">
  <%= f.label :content %><br />
  <%= f.text_area :content, class:"form-control" %>
</fieldset>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>