
<div class="comment">

<h2>Comments:</h2>
  <% @post.comments.each do |comment| %>
      <h3><%=comment.title %></h3>
      <p><%=comment.content %></p>
      <p><small>Added by <%= comment.user.username %></small></p>
      <small class="text-muted"><%= distance_of_time_in_words(Time.now, comment.created_at) %> ago</small></p>
      <br>
      <% if comment.user_id == current_user.id %>
      <h6> <%= link_to 'Destroy', comment_path(comment, post_id: @post.id), method: :delete, data: { confirm: 'Are you sure?' } %></h6>
      <% end %>
  <% end %>
  </div>

<div class ="new-comment">
<h2>New Comment:</h2>
<%= form_for(comment) do |f| %>

<%= f.hidden_field :post_id, value: @post.id %>
  
<fieldset class="form-group">
  <%= f.label :title %><br />
  <%= f.text_field :title, class:"form-control" %>
</fieldset>

<fieldset class="form-group">
  <%= f.label :content %><br />
  <%= f.text_area :content, class:"form-control" %>
</fieldset>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>