
<div class="comment">
<h1>Comments:</h1>
  <% @post.comments.each do |comment| %>
      <h3><%=comment.title %></h3>
      <p><%=comment.content %></p>
      <p><small>Added by <%= comment.user.username %></small></p>
      <% if comment.user_id == current_user.id %>
      <h5> <%= link_to 'Destroy', comment_path(comment, post_id: @post.id), method: :delete, data: { confirm: 'Are you sure?' } %></h5>
      <% end %>
  <% end %>
</div>

<div class ="comment">
<h1>New Comment:</h1>
<%= form_for(comment) do |f| %>

<%= f.hidden_field :post_id, value: @post.id %>
  
<fieldset class="form-group">
  <%= f.label :title %><br />
  <%= f.text_field :title, class:"form-control" %>
</fieldset>

<fieldset class="form-group">
  <%= f.label :content %><br />
  <%= f.text_area :content, class:"form-control" %>
</fieldset>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>