<div class="container">
<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="form-group">
    <%= f.label :game, class:"new-label" %>
    <%= f.text_field :game, class:"form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :image, class:"new-label" %>
    <%= f.file_field :image, class:"form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :description, class:"new-label" %>
    <%= f.text_area :description,class:"form-control" %>
  </fieldset>
  <fieldset class="col-md-4 checkbox-list">
      <%= f.label :Genres, class:"label-checkbox" %>
      <br>
      <%= collection_check_boxes(:post, :genre_ids, Genre.all, :id , :name) %>
  </fieldset>


  <fieldset class="col-md-4 checkbox-list">
    <%= f.label :Platforms, class:"label-checkbox" %>
    <br>
    <%= collection_check_boxes(:post, :platform_ids, Platform.all, :id, :name) %>

  </fieldset>

  <div class="actions static-sub-font">
    <%= f.submit %>
  </div>
<% end %>
<br>
<h6 class="static-sub-font"><%= link_to 'Back', posts_path %></h6>

</div>
