
    <div id=image-card class="card">    
        
          <%= link_to (image_tag (post.image.thumb.url)), post_path(post)%>
        <!-- <h1 class="card-title"><%= post.game %></h1>
        <h3 class="card-text"><%= post.description %></h3>
              
        <h4 class="card-text"><%= post.genres.map{ |x| x.name }.join(", ") %></h4>
        <h4 class="card-text"><%= post.platforms.map { |x| x.name }.join(", ") %></h4>
        <h5 class="card-text"><%= post.user.username %></h5> -->
          
    </div>
