<p>
  <strong>Game:</strong>
  <%= @post.game %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag (@post.image.detail.url) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>
<p>
  <strong>Genres:</strong>
  <%= @post.genres.map{ |x| x.name }.join(", ") %>
</p>
<p>
  <strong>Platforms:</strong>
  <%= @post.platforms.map{ |x| x.name }.join(", ") %>
</p>


<p>
  <strong>User:</strong>
  <%= @post.user.username %>
</p>


<% if @post.user == current_user %>
<%= link_to 'Edit', edit_post_path(@post) %> |


<% end %>
<%= link_to 'Back', posts_path %>